
<div class="background"></div>
<div class="bg">
<div class="parent">
    <div class="div1">
      <h1>Innowacyjny sposób organizowania wydarzeń</h1>
  
      <p>
        PartyCreator pomoże Ci stworzyć wydarzenie, dokadnie zaplanować przebieg oraz zapisać wszystkie te niezapomniane chwile ze znajomymi
      </p>
      <h2>Wszystko w jednym miejscu</h2>
      <button type="button" class="btn btn-primary" mdbRipple>Stwórz konto ></button>
    </div>
  </div>
  <div>
    <h1 style="margin-left:50px;">Poznaj funkcje, których codziennie potrzebujesz \/</h1></div>
</div>

