.eventForm {
    color: white;
    padding: 20px;
}
.buttonCreateEvent {
    background-color: #F0CF65;
    border-color: #F0CF65;
}
.form-check-input:focus {
    border-color: none !important;
    box-shadow: none !important;
}
.form-check-input:checked {
    border-color: #F0CF65 !important;
    background-color: #F0CF65 !important;
}
.form-check-input:active {
    background-color: #F0CF65 !important;
    border-color: none !important;
}

.form-check-input:focus:not(:checked) {
    border-color: #F0CF65 !important;
}