.eventForm {
    color: white;
    padding: 20px;
}
.row-class {
    padding-bottom: 10px;
}
.row-class-opcje {
    padding-top: 10px;
}

@media (min-width: 769px) {
    .mobile-calendar {
        display: none;
    }
}

@media (max-width: 768px) {
    .desktop-calendar {
        display: none;
    }
}