<header>
    <app-nav-menu-main></app-nav-menu-main>
</header>
<body>
    <div class="mainLayout">
        <div class="details">
            <div *ngIf="eventDetails" class="Details">
                <h1 style="color:white">{{ eventDetails!.title }}</h1>
                <p>{{ eventDetails!.description }}</p>
                <p>Organizator:</p>
                <p><fa-icon [icon]="faLocationDot" style="color: white" size="2xl"> </fa-icon> 
                    {{ eventDetails!.address }}
                    {{ eventDetails!.zip }}
                    {{ eventDetails!.city }}
                </p>
                <p><fa-icon [icon]="faCalendar" style="color: white" size="2xl"> </fa-icon>  {{ eventDetails!.dateTime | date:'dd-MM-yyyy' }}</p>
                <p><fa-icon [icon]="faClock" style="color: white" size="2xl"> </fa-icon> {{ eventDetails!.dateTime | date:'HH:mm' }}</p>
            </div>
        </div>

        <div class="thingsToBring">
            <div class="thingsToBringTitle" [ngClass]="{'rounded-bottom': isThingsToBringVisible}">
                <h5 class="titleBringThings">Rzeczy do przyniesienia</h5>
                <div class="toggle-arrow" [@pulse]="arrowAnimationState"  (click)="toggleThingsToBringVisibility()">
                    <span *ngIf="isThingsToBringVisible">&#9650;</span>
                    <span *ngIf="!isThingsToBringVisible">&#9660;</span>
                </div>
            </div>
            <div class="thingsToBringList" [@slideDown]  *ngIf="isThingsToBringVisible">
                <p>Napój gazowany<button>PRZYNIEŚ</button></p>
                <p>Chrupki <button>PRZYNIEŚ</button></p>
                <p><del>Przekąski słone  </del><fa-icon [icon]="faCheck" style="color: greenyellow; margin-left:10px;"> </fa-icon></p>
                <p>Cytryna <button>PRZYNIEŚ</button></p>
                <p><s>Pieczywo</s><fa-icon [icon]="faCheck" style="color: greenyellow; margin-left:10px;"> </fa-icon></p>
            </div>
        </div>
        <div class="chat">
            czat
        </div>
        <div class="photos">
            zdjecia
        </div>
        <div class="inviteList">
            <h5>Lista uczestników</h5>
        </div>
      </div>
      <div class="extraFunctions">
        <div class="spotifyPlaylist"> playlista spotify</div>
        <div class="shareReceipt">dzielenie się rachunkiem</div>
      </div>

</body>
<!-- event-view.component.html -->
<div *ngIf="eventDetails" class="Details">
    <!-- ... inne elementy ... -->
    <p><fa-icon [icon]="faCalendar" style="color: white" size="2xl"> </fa-icon>  
        <input matInput [matDatepicker]="picker" placeholder="Wybierz datę" [(ngModel)]="selected">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </p>
    <!-- ... inne elementy ... -->
</div>

