<header>
  <app-nav-menu-main></app-nav-menu-main>
</header>
<body>
  <div class="mainLayout">
    <div class="details">
      <div *ngIf="eventDetails" class="Details">
        <h2 style="color: white; font-weight: bold">
          {{ eventDetails.title }}
        </h2>
        <p style="font-weight: bold">
          Organizator: {{ eventDetails.creatorName }}
        </p>
        <p>{{ eventDetails.description }}</p>
        <p (click)="toggleMapVisibility()">
          <fa-icon [icon]="faLocationDot" style="color: white" size="2xl">
          </fa-icon>
          {{ eventDetails.address }}
          {{ eventDetails.city }}
        </p>
        <p>
          <fa-icon [icon]="faCalendar" style="color: white" size="2xl">
          </fa-icon>
          {{ eventDetails.dateTime + "z" | date : "dd-MM-yyyy" }}
        </p>
        <p>
          <fa-icon [icon]="faClock" style="color: white" size="2xl"> </fa-icon>
          {{ eventDetails.dateTime + "z" | date : "HH:mm" }}
        </p>
      </div>
    </div>

    <div class="thingsToBring">
      <div
        class="thingsToBringTitle"
        [ngClass]="{ 'rounded-bottom': isThingsToBringVisible }"
      >
        <h5 class="titleBringThings">Rzeczy do przyniesienia</h5>
        <div
          class="toggle-arrow"
          [@pulse]="arrowAnimationState"
          (click)="toggleThingsToBringVisibility()"
        >
          <span *ngIf="isThingsToBringVisible">&#9650;</span>
          <span *ngIf="!isThingsToBringVisible">&#9660;</span>
        </div>
      </div>
      <div
        class="thingsToBringList"
        [@slideDown]
        *ngIf="isThingsToBringVisible"
      >
        <p>Napój gazowany<button>PRZYNIEŚ</button></p>
        <p>Chrupki <button>PRZYNIEŚ</button></p>
        <p>
          <del>Przekąski słone </del
          ><fa-icon
            [icon]="faCheck"
            style="color: greenyellow; margin-left: 10px"
          >
          </fa-icon>
        </p>
        <p>Cytryna <button>PRZYNIEŚ</button></p>
        <p>
          <s>Pieczywo</s
          ><fa-icon
            [icon]="faCheck"
            style="color: greenyellow; margin-left: 10px"
          >
          </fa-icon>
        </p>
      </div>
    </div>
    <div class="chat">
      <app-map
        [eventAddress]="eventDetails.address + ', ' + eventDetails.city"
        *ngIf="isMapVisible"
      ></app-map>
    </div>
    <div class="photos">zdjecia</div>
    <div class="inviteList">
      <h3>Lista uczestników</h3>
      <div class="creator">{{ eventDetails.creatorName }}</div>
      <div class="guests" *ngFor="let user of guestsUsers">
        {{ user.firstName }} {{ user.lastName }}
      </div>
      <div class="invited" *ngFor="let user of invitesUsers">
        {{ user.firstName }} {{ user.lastName }}
      </div>
      <div>
        <button *ngIf="userRole.role == 'Admin'" (click)="openDialog()">
          Zaproś do wydarzenia
        </button>
      </div>
    </div>
  </div>
  <div class="extraFunctions">
    <div class="spotifyPlaylist">playlista spotify</div>
    <div class="shareReceipt">dzielenie się rachunkiem</div>
  </div>
</body>
