/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@use "node_modules/@angular/material" as mat;

@include mat.core();

$special-primary: mat.define-palette(mat.$indigo-palette, 500, 100, 900);
$special-accent: mat.define-palette(mat.$green-palette, 500, 100, 900);
$special-warn: mat.define-palette(mat.$red-palette, 500, 100, 900);
$special-theme: mat.define-dark-theme(
  (
    color: (
      primary: $special-primary,
      accent: $special-accent,
      warn: $special-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
@include mat.all-component-themes($special-theme);

html {
  background-color: #2d2d2d;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.testDialog {
  overflow-y: auto;
  @media (min-width: 769px) {
    width: 700px;
  }

  @media (max-width: 768px) {
    width: 100%;

    .col-2 {
      display: none;
    }
  }
}

::-webkit-scrollbar {
  width: 12px; /* szerokość paska przewijania */
}

::-webkit-scrollbar-thumb {
  background-color: #1f2328; /* ciemnoniebieski kolor paska przewijania */
}

::-webkit-scrollbar-track {
  background-color: #2d3238; /* ciemnoszare tło paska przewijania */
}
