<div style="background: #2D2D2D; color: white;">
    <div class="row" style="width: 100%; margin: 0px;">
        <div class="col-9" style="padding: 0px;">
            <mat-tab-group mat-stretch-tabs="true" style="padding: 0px; margin: 0px;">
                <mat-tab label="Szukaj">
                    <div style="background-color: red; height: 700px; padding: 40px;">
                        
                    </div>
                </mat-tab>
                <mat-tab label="Lista Kontaktów">
                    <div style="background-color: blue; height: 700px; padding: 40px;">

                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-3" style="padding: 0px;">
            <div class="d-flex align-items-center justify-content-center" style="height: 48px;">
                Lista uczestników
            </div>
            <div style="background-color: red; height: 700px; padding: 5px;">
                <div class="row" style="height: 50%; margin: 0px; background-color: green;">
                    <div *ngFor="let guest of data">
                        <p>{{guest.firstName}}</p>
                    </div>
                </div>
                <div class="row" style="height: 50%; margin: 0px; background-color: blueviolet;">

                </div>
            </div>
        </div>
    </div>
    
</div>