<header>
    <app-nav-menu-main></app-nav-menu-main>
</header>
<body>
    <div class="container">
        <div class="upcomingEvents">
            <div class="container2">
                <div class="UpcomingEventsText"><h1>Nadchodzące wydarzenia</h1></div>
                <div class="Event1">
                    <h4>Wydarzenie</h4>
                    <p>Godzina</p>
                    <p>Data</p>
                    <button type="button" class="btn btn-light btnToDetails"><fa-icon [icon]="faArrowRight"></fa-icon></button>
                </div>
                <div class="Event2">
                    <h4>Wydarzenie</h4>
                    <p>Godzina</p>
                    <p>Data</p>
                    <button type="button" class="btn btn-light btnToDetails"><fa-icon [icon]="faArrowRight"></fa-icon></button>
                </div>
                <div class="Event3">
                    <h4>Wydarzenie</h4>
                    <p>Godzina</p>
                    <p>Data</p>
                    <button type="button" class="btn btn-light btnToDetails"><fa-icon [icon]="faArrowRight"></fa-icon></button>
                </div>
                <div class="Event4">
                    <h4>Wydarzenie</h4>
                    <p>Godzina</p>
                    <p>Data</p>
                    <button type="button" class="btn btn-light btnToDetails"><fa-icon [icon]="faArrowRight"></fa-icon></button>
                </div>
                <div class="Event5">
                    <h4>Wydarzenie</h4>
                    <p>Godzina</p>
                    <p>Data</p>
                    <button type="button" class="btnToDetails btn btn-light"><fa-icon [icon]="faArrowRight"></fa-icon></button>
                </div>
                <div class="Event6">
                    <h4>Wydarzenie</h4>
                    <p>Godzina</p>
                    <p>Data</p>
                    <button type="button" class="btn btn-light btnToDetails"><fa-icon [icon]="faArrowRight"></fa-icon></button>
                </div>
              </div></div>
        <div class="yourEvents">
            <div class="container3">
            <div class="UpcomingEventsText UpcomingEventsText2"><h1>Twoje wydarzenia</h1></div>
            <div class="YourEvent1">
                <h4>Wydarzenie</h4>
                <p>Godzina</p>
                <p>Data</p>
                <button type="button" class="btn btn-light btnToDetails"><fa-icon [icon]="faArrowRight"></fa-icon></button>
            </div>
            <div class="YourEvent2">
                <h4>Wydarzenie</h4>
                <p>Godzina</p>
                <p>Data</p>
                <button type="button" class="btn btn-light btnToDetails"><fa-icon [icon]="faArrowRight"></fa-icon></button>
            </div>
            <div class="YourEvent3">
                <h4>Wydarzenie</h4>
                <p>Godzina</p>
                <p>Data</p>
                <button type="button" class="btn btn-light btnToDetails"><fa-icon [icon]="faArrowRight"></fa-icon></button>
            </div>
          </div></div>
        <div class="calendar">
            <mat-card class="calendarView">
                <mat-calendar [(selected)]="selected"></mat-calendar>
              </mat-card>
        </div>
              <!-- <p>Selected date: {{selected}}</p> -->
              <div class="CreateEvent">
                <button type="button" class="buttonCreateEvent btn btn-primary btn-lg" (click)="test()">Utwórz wydarzenie</button>
              
        </div>


      </div>
    </body>

