<header>
    <app-nav-menu-main></app-nav-menu-main>
</header>
<body>
    <div class="container">
        <div class="upcomingEvents">
            <div class="container2">
                <div class="UpcomingEventsText"><h1>Nadchodzące wydarzenia</h1></div>
                <div class="Event1">
                    <h4>Wydarzenie</h4>
                    <p>Godzina</p>
                    <p>Data</p>
                    <button type="button" class="btn btn-light">Szczegóły</button>
                </div>
                <div class="Event2">
                    <h4>Wydarzenie</h4>
                    <p>Godzina</p>
                    <p>Data</p>
                    <button type="button" class="btn btn-light">Szczegóły</button>
                </div>
                <div class="Event3">
                    <h4>Wydarzenie</h4>
                    <p>Godzina</p>
                    <p>Data</p>
                    <button type="button" class="btn btn-light">Szczegóły</button>
                </div>
                <div class="Event4">
                    <h4>Wydarzenie</h4>
                    <p>Godzina</p>
                    <p>Data</p>
                    <button type="button" class="btn btn-light">Szczegóły</button>
                </div>
                <div class="Event5">
                    <h4>Wydarzenie</h4>
                    <p>Godzina</p>
                    <p>Data</p>
                    <button type="button" class="btn btn-light">Szczegóły</button>
                </div>
                <div class="Event6">
                    <h4>Wydarzenie</h4>
                    <p>Godzina</p>
                    <p>Data</p>
                    <button type="button" class="btn btn-light">Szczegóły</button>
                </div>
                <div class="MoreEventsText">
                    <button type="button" class="btn btn-light" >WSZYSTKIE WYDARZENIA</button>
                </div>
              </div></div>
        <div class="yourEvents">
            <div class="container3">
            <div class="UpcomingEventsText"><h1>Twoje wydarzenia</h1></div>
            <div class="YourEvent1">
                <h4>Wydarzenie</h4>
                <p>Godzina</p>
                <p>Data</p>
                <button type="button" class="btn btn-light">Szczegóły</button>
            </div>
            <div class="YourEvent2">
                <h4>Wydarzenie</h4>
                <p>Godzina</p>
                <p>Data</p>
                <button type="button" class="btn btn-light">Szczegóły</button>
            </div>
            <div class="YourEvent3">
                <h4>Wydarzenie</h4>
                <p>Godzina</p>
                <p>Data</p>
                <button type="button" class="btn btn-light">Szczegóły</button>
            </div>
          </div></div>
        <div class="calendar"> </div>
      </div>

</body>
