<header>
  <app-nav-menu-main></app-nav-menu-main>
</header>
<body>
  <div class="card">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>event_note</mat-icon>
          <span>&nbsp;Nadchodzące wydarzenia</span>
        </ng-template>
        <div class="upcomingEvents">
          <div class="container2">
            <div class="UpcomingEventsText">
              <h1>Nadchodzące wydarzenia</h1>
            </div>
            <div
              *ngFor="let event of upcomingEvents"
              class="Event"
            >
              <h4>{{ event.title }}</h4>
              <p> Organizator: </p>
              <p>Godzina: {{ event.dateTime | date : "H:mm" }}</p>
              <p>Data: {{ event.dateTime | date : "d/M/yy" }}</p>
              <button
                type="button"
                class="btn btn-light btnToDetails"
                [routerLink]="['/wydarzenie', event.id]"
              >
              <fa-icon [icon]="faArrowRight" size="lg"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>person</mat-icon>
          <span>&nbsp;Twoje wydarzenia</span>
        </ng-template>
        <div class="yourEvents">
          <div class="container2">
            <div class="UpcomingEventsText">
              <h1>Twoje wydarzenia</h1>
            </div>
            <div *ngFor="let myEvent of myEvents" class="YourEvent">
              <h4>{{ myEvent.title }}</h4>
              <p> Organizator: </p>
              <p>{{ myEvent.dateTime + "Z" | date : "H:mm" }}</p>
              <p>{{ myEvent.dateTime + "Z" | date : "d/M/yy" }}</p>
              <button
                type="button"
                class="btn btn-light btnToDetails"
                [routerLink]="['/wydarzenie', myEvent.id]"
              >
              <fa-icon [icon]="faArrowRight" size="lg"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>event_busy</mat-icon>
          <span>&nbsp;Zakończone wydarzenia</span>
        </ng-template>
        <div class="upcomingEvents">
          <div class="container2">
            <div class="UpcomingEventsText">
              <h1>Zakończone wydarzenia</h1>
            </div>
            <div *ngFor="let event of finishedEvents; let i = index" [ngClass]="'Event'">

              <h4>{{ event.title }}</h4>
              <p> Organizator:</p>
              <p>Godzina: {{ event.dateTime | date : "H:mm" }}</p>
              <p>Data: {{ event.dateTime | date : "d/M/yy" }}</p>
              <button
                type="button"
                class="btn btn-light btnToDetails"
                [routerLink]="['/wydarzenie', event.id]"
              >
              <fa-icon [icon]="faArrowRight" size="lg"></fa-icon>
            </button>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>calendar_today</mat-icon>
          <span>&nbsp;Kalendarz</span>
        </ng-template>
        <app-main-calendar></app-main-calendar>
      </mat-tab>
    </mat-tab-group>
  </div>
  <button (click)="openDialog()" class="buttonCreateEvent">Nowe wydarzenie</button>
</body>
