::ng-deep .my-calendar {
  background-color: #737373;
  color: #fff;
}

::ng-deep .my-calendar .cal-month-view,
::ng-deep .my-calendar .cal-week-view,
::ng-deep .my-calendar .cal-day-view {
  background-color: #303030;
}

::ng-deep .my-calendar .cal-header {
  color: #fff;
}

::ng-deep .my-calendar .cal-cell.cal-today {
  background-color: var(--special-primary);
}

::ng-deep .my-calendar .cal-day-cell.cal-has-events {
  background-color: var(--special-accent);
}

::ng-deep .my-calendar .cal-event {
  background-color: #fd0000;
  border-color: #ff0000;
}

.btn-primary {
  background-color: var(--special-primary);
  border-color: var(--special-primary);
}
