<div class="parent">
  <div class="profile-picture">
    <img src="assets/profile-avatars/avatar1.png" alt="User Profile Picture" />
  </div>
  <div class="user-info">
    <form
      [formGroup]="profileForm"
      (ngSubmit)="editProfile()"
      class="profileForm"
    >
      <mat-form-field appearance="outline" color="accent" style="width: 80%">
        <mat-label>Imię</mat-label>
        <input matInput maxlength="20" formControlName="firstName" required />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" style="width: 80%">
        <mat-label>Nazwisko</mat-label>
        <input matInput maxlength="20" formControlName="lastName" required />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" style="width: 80%">
        <mat-label>Data Urodzenia</mat-label>
        <input matInput maxlength="20" formControlName="birthday" required />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" style="width: 80%">
        <mat-label>Opis</mat-label>
        <textarea
          matInput
          maxlength="100"
          formControlName="description"
          required
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="6"
        ></textarea>
      </mat-form-field>
      <br />
      <button
        mat-raised-button
        color="accent"
        type="submit"
        style="width: 80%"
        [disabled]="!profileForm.valid"
      >
        Zapisz
      </button>
    </form>
  </div>
</div>
