<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">PartyCreator</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-white" [routerLink]="['/main']"
              >Wydarzenia</a
            >
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-white" (click)="toggleNotifications()">
              <fa-icon [icon]="faBell" style="color: white" size="lg"></fa-icon>
            </a>
          </li> -->
          <li class="nav-item">
            <button [matMenuTriggerFor]="Menu" class="nav-link text-white">
              test
            </button>
            <mat-menu #Menu="matMenu" xPosition="before">
              <div style="width: 400px; height: 400px;">
                
                <div class="d-flex flex-row-reverse" style="width: 100%; height: 40px; margin: 0px;">
                  <div style="padding-right: 12px; padding-top: 8px;">
                    <fa-icon [icon]="faX" style="color:white;" fa-xl></fa-icon>
                  </div>
                </div>

                <div (click)="doSomething($event);" class="reszta" style="overflow-y: auto;">
                  <div class="row" style="width: 100%; height: 60px; background-color: forestgreen; margin: 0px; margin-top: 5px;">
                    <p>Powiadomienie 2</p>
                  </div>
                  <div class="row" style="width: 100%; height: 60px; background-color: forestgreen; margin: 0px; margin-top: 5px;">
                    <p>Powiadomienie 2</p>
                  </div>
                  <div class="row" style="width: 100%; height: 60px; background-color: forestgreen; margin: 0px; margin-top: 5px;">
                    <p>Powiadomienie 2</p>
                  </div>
                  <div class="row" style="width: 100%; height: 60px; background-color: forestgreen; margin: 0px; margin-top: 5px;">
                    <p>Powiadomienie 2</p>
                  </div>
                  <div class="row" style="width: 100%; height: 60px; background-color: forestgreen; margin: 0px; margin-top: 5px;">
                    <p>Powiadomienie 2</p>
                  </div>
                  <div class="row" style="width: 100%; height: 60px; background-color: forestgreen; margin: 0px; margin-top: 5px;">
                    <p>Powiadomienie 2</p>
                  </div>
                </div>
              </div>
            </mat-menu>
          </li>
          
          <li class="nav-item" [routerLinkActive]="['/']">
            <a class="nav-link text-white menu-link" [routerLink]="['/profil']"
              >Profil</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white menu-link" (click)="logOut()"
              >Wyloguj się</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

