<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">PartyCreator</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-white" [routerLink]="['/']">Home</a>
          </li>
          <!--
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/counter']">Wydarzenia</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/main']">Po logowaniu</a>
          </li>
          -->
          <li
            *ngIf="isLoggedIn; else elseBlock"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-light" [routerLink]="['/wydarzenia']"
              >Przejdź do strony</a
            >
          </li>
          <ng-template #elseBlock>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a
                class="nav-link text-light"
                (click)="changeLoginType()"
                [routerLink]="['/logowanie']"
                >Zaloguj się</a
              >
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
</header>
