<div class="container p-3">
  <div class="offset-3 col-6">
    <div class="card">
      <div class="card-header">Rejestracja</div>
      <div class="card card-body">
        <form [formGroup]="signupForm" (submit)="submit()">
          <div class="form-group">
            <label
              for="firstName"
              [ngClass]="
                signupForm.controls['firstName'].invalid ? 'text-danger' : ''
              "
              >Imię:</label
            ><br />
            <input
              id="firstName"
              formControlName="firstName"
              type="text"
              class="form-control"
              [ngClass]="
                signupForm.controls['firstName'].invalid ? 'is-invalid' : ''
              "
            />
            <label
              class="text-danger"
              *ngIf="signupForm.controls['firstName'].hasError('required')"
            >
              Imię jest wymagane!
            </label>
          </div>
          <br />
          <div class="form-group">
            <label
              for="lastName"
              [ngClass]="
                signupForm.controls['lastName'].invalid ? 'text-danger' : ''
              "
              >Nazwisko:</label
            >
            <br />
            <input
              id="lastName"
              formControlName="lastName"
              type="text"
              class="form-control"
              [ngClass]="
                signupForm.controls['lastName'].invalid ? 'is-invalid' : ''
              "
            />
            <label
              class="text-danger"
              *ngIf="signupForm.controls['lastName'].hasError('required')"
            >
              Nazwisko jest wymagane
            </label>
          </div>
          <br />
          <div class="form-group">
            <label
              for="email"
              [ngClass]="
                signupForm.controls['email'].invalid ? 'text-danger' : ''
              "
              >E-mail:</label
            ><br />
            <input
              id="email"
              formControlName="email"
              type="email"
              class="form-control"
              [ngClass]="
                signupForm.controls['email'].invalid ? 'is-invalid' : ''
              "
            />
            <label
              class="text-danger"
              *ngIf="signupForm.controls['email'].hasError('required')"
            >
              E-mail jest wymagany
            </label>
            <label
              class="text-danger"
              *ngIf="signupForm.controls['email'].hasError('email')"
            >
              E-mail jest niepoprawny
            </label>
          </div>
          <br />
          <div class="form-group">
            <label
              for="password"
              [ngClass]="
                signupForm.controls['password'].invalid ? 'text-danger' : ''
              "
              >Hasło:</label
            ><br />
            <input
              id="password"
              formControlName="password"
              type="password"
              class="form-control"
              [ngClass]="
                signupForm.controls['password'].invalid ? 'is-invalid' : ''
              "
            />
            <label
              class="col"
              [ngClass]="
                signupForm.controls['password'].hasError('required') ||
                signupForm.controls['password'].hasError('minlength')
                  ? 'text-danger'
                  : 'text-success'
              "
            >
              <i class="material-icons">{{
                signupForm.controls["password"].hasError("required") ||
                signupForm.controls["password"].hasError("minlength")
                  ? "cancel"
                  : "check_circle"
              }}</i>
              Musi zawierać co najmniej 8 znaków!
            </label>
            <label
              class="col"
              [ngClass]="
                signupForm.controls['password'].hasError('required') ||
                signupForm.controls['password'].hasError('hasNumber')
                  ? 'text-danger'
                  : 'text-success'
              "
            >
              <i class="material-icons">{{
                signupForm.controls["password"].hasError("required") ||
                signupForm.controls["password"].hasError("hasNumber")
                  ? "cancel"
                  : "check_circle"
              }}</i>
              Musi zawierać co najmniej 1 cyfrę!
            </label>
            <label
              class="col"
              [ngClass]="
                signupForm.controls['password'].hasError('required') ||
                signupForm.controls['password'].hasError('hasCapitalCase')
                  ? 'text-danger'
                  : 'text-success'
              "
            >
              <i class="material-icons">{{
                signupForm.controls["password"].hasError("required") ||
                signupForm.controls["password"].hasError("hasCapitalCase")
                  ? "cancel"
                  : "check_circle"
              }}</i>
              Musi zawierać co najmniej 1 wielką literę!
            </label>
            <label
              class="col"
              [ngClass]="
                signupForm.controls['password'].hasError('required') ||
                signupForm.controls['password'].hasError('hasSmallCase')
                  ? 'text-danger'
                  : 'text-success'
              "
            >
              <i class="material-icons">{{
                signupForm.controls["password"].hasError("required") ||
                signupForm.controls["password"].hasError("hasSmallCase")
                  ? "cancel"
                  : "check_circle"
              }}</i>
              Musi zawierać co najmniej 1 małą literę!
            </label>
          </div>
          <br />
          <div class="form-group">
            <label
              for="confirmPassword"
              [ngClass]="
                signupForm.controls['confirmPassword'].invalid
                  ? 'text-danger'
                  : ''
              "
              >Potwierdź hasło:</label
            ><br />
            <input
              id="confirmPassword"
              formControlName="confirmPassword"
              type="password"
              class="form-control"
              [ngClass]="
                signupForm.controls['confirmPassword'].invalid
                  ? 'is-invalid'
                  : ''
              "
            />
            <label
              class="text-danger"
              *ngIf="
                signupForm.controls['confirmPassword'].hasError('required')
              "
            >
              Potwierdzenie hasła jest wymagane
            </label>
            <label
              class="text-danger"
              *ngIf="
                signupForm.controls['confirmPassword'].hasError(
                  'NoPasswordMatch'
                )
              "
            >
              Hasła muszą być takie same
            </label>
          </div>
          <br />
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!signupForm.valid"
            >
              Zarejestruj się
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
