<label for="firstName">Imię</label><br />
<input id="firstName" type="text" [formControl]="firstName" />
<br />
<label for="lastName">Nazwisko</label><br />
<input id="lastName" type="text" [formControl]="lastName" />
<br />
<label for="email">E-mail</label><br />
<input id="email" type="email" [formControl]="email" />
<br />
<label for="password">Hasło</label><br />
<input id="password" type="password" [formControl]="password" />
<br />
<label for="password">Powtórz hasło</label><br />
<input id="password" type="password" [formControl]="password" />
<br />
<br />
<button type="button">Zarejestruj się</button>
