body,
html {
  background-color: #2d2d2d;
  min-height: 100%;
}

.my-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.card {
  background-color: #3d3d3d;
  border-radius: 20px;
  width: 60vw;
  min-height: 70vh;
  display: flex;
  color: #ffffff99 !important;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 70vh;
  overflow-y: auto;
}

@media (max-width: 1600px) {
  .card {
    width: 80vw;
  }
}

@media (max-width: 800px) {
  .card {
    border: none;
    box-shadow: none;
    border-radius: 0%;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 4em;
  }
}
