body {
  background-color: #2d2d2d;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #515354;
  border-radius: 20px;
  width: 60vw;
  height: 70vh;
  box-shadow: rgb(39, 39, 39) 0px 0px 10px 0px;
}

mat-tab-group {
  margin-top: 1em;
}

mat-tab-label {
  font-size: 1.5em;
  font-weight: bold;
  color: #b50606;
}
