<div class="container">
  <p class="title">Dodaj swoje zakupy oraz cenę, żeby członkowie wydarzenia wiedzieli ile są Ci dłużni</p>

    <form (ngSubmit)="onSubmit()" 
     class="mb-3"
     style="display: flex; flex-direction: row; align-items: center; gap: 5px; background-color:#212121; 
     padding-bottom:0px; padding-top:15px; padding-left:15px;">
      
     <div class="form-group">
        <mat-form-field appearance="outline" class="mb-0"  [ngStyle]="{'width.px': 400}">
          <mat-label>Nazwa przedmiotu</mat-label>
          <input matInput [(ngModel)]="receiptItem.name" name="name">
        </mat-form-field>
      </div>
  
      <div class="form-group">
        <mat-form-field appearance="outline" class="mb-0" [ngStyle]="{'width.px': 100}">
          <mat-label>Ilość</mat-label>
          <input matInput [(ngModel)]="receiptItem.quantity" name="quantity" type="number">
        </mat-form-field>
      </div>
      
      <div class="form-group">
        <mat-form-field appearance="outline" class="mb-0" [ngStyle]="{'width.px': 160}">
          <mat-label>Cena (za całość)</mat-label>
          <input matInput [(ngModel)]="receiptItem.price" name="price" type="number">
        </mat-form-field>
      </div>
  
      <button type="submit" 
        mat-raised-button class="buttonAdd"
         [ngStyle]="{'height.px': 58, 'width.px': 200, 'margin-bottom.px': 21}">
         Dodaj przedmiot
       </button>        
      </form>
  
  
      <div style="max-height: 200px; min-height:193px; overflow-y: auto;">
        <div class="card-body">
          <table class="kontakty">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Ilość</th>
                <th scope="col">Cena</th>
              </tr>
            </thead>
          <tbody>
            <tr *ngFor="let item of receiptItems">
              <td>{{ item.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.price }}zł</td>  
            </tr>
          </tbody>
        </table>
      </div>
  
</div>
<div style="display: flex; justify-content: space-between; padding-left: 10px; padding-right:10px;">
  <p>Łączna suma jaką wydałeś: {{ getTotalPrice() }}zł</p>
  <p>Każdy uczestnik wydarzenia powinień ci oddać: </p>
</div>
  